* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #EBDBBD;
}
.search {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.search .insert button {
  position: absolute;
  top: 20px;
  left: 200px;
  height: 50px;
  width: 150px;
  border: 2px solid #12443E;
  border-radius: 5px;
}
.search .update button {
  position: absolute;
  top: 20px;
  right: 360px;
  height: 50px;
  width: 150px;
  border: 2px solid #12443E;
  border-radius: 5px;
}
.search .delete button {
  position: absolute;
  top: 20px;
  right: 100px;
  height: 50px;
  width: 150px;
  border: 2px solid #12443E;
  border-radius: 5px;
}
.search input {
  width: 300px;
  height: 50px;
  border: 2px solid #12443E;
  border-radius: 10px;
  outline: none;
  font-size: 25px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 50px;
}
.search img {
  width: 30px;
  height: 30px;
  position: relative;
  top: 9px;
  right: 40px;
}
.insert_box {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 300px;
  position: absolute;
  top: 120px;
  left: 130px;
}
.insert_box input {
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
  border: 2px solid #12443E;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  padding-left: 20px;
}
.insert_box button {
  width: 100px;
  height: 30px;
  margin-bottom: 20px;
  border: 2px solid #12443E;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}
.update_box {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 300px;
  position: absolute;
  top: 120px;
  right: 280px;
}
.update_box input {
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
  border: 2px solid #12443E;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  padding-left: 20px;
}
.update_box button {
  width: 100px;
  height: 30px;
  margin-bottom: 20px;
  border: 2px solid #12443E;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}
.delete_box {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 300px;
  position: absolute;
  top: 120px;
  right: 20px;
}
.delete_box input {
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
  border: 2px solid #12443E;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  padding-left: 20px;
}
.delete_box button {
  width: 100px;
  height: 30px;
  margin-bottom: 20px;
  border: 2px solid #12443E;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}
.book {
  position: absolute;
  bottom: 100px;
  left: 670px;
  line-height: 30px;
}
